name: Unittest

# CINTENT >> MANUAL TRIGGER
# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]
on: [repository_dispatch, workflow_dispatch]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # There is a bug in Python 3.13.0 which breaks Vamb's tests, fixed in 3.13.1
        # CINTENT >> REMOVE_MATRIX
        # python-version: ["3.10", "3.11", "3.12", "3.13.1"]
        python-version: ["3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        # CINTENT >> REMOVE_CACHE
        # cache: 'pip' # caching pip dependencies
        # cache-dependency-path: '**/pyproject.toml'

    # CINTENT >> INSERT_CINTENT
    - uses: JavidDitty/setup-cintent@3638849e94bdb037f0a405375686a8550e6df904
      with:
        nonblocking: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -e .
        
    - name: Run tests
      run: python -m pytest test

    # CINTENT >> INSERT_CINTENT
    - name: Upload CIntent Artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.CINTENT_ARTIFACT_NAME }}
        path: ${{ env.CINTENT_LOGS }}
